@using PoupaAiMVC.Data.Entities
@model PoupaAiMVC.Models.Questionario.ValidaRespostasModel
@{
    ViewData["Title"] = "Avaliacao";
    Layout = "~/Views/Shared/Layout.cshtml";

}

<br />
@using (Html.BeginForm("Resultado", "Questionario", FormMethod.Post, new { @autocomplete = "off" }))
{
    @for (int i = 0; i < Model.Questoes.Count(); i++)
    {
        @Html.HiddenFor(model => model.Questoes[i].IdQuestao)

        <div class="accordion accordion-flush" id="accordionFlush_@i">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading_@i">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse_@i" aria-expanded="false" aria-controls="flush-collapse_@i">
                        @{int contador = i + 1;}
                        Questão @contador
                    </button>
                </h2>
                <div id="flush-collapse_@i" class="accordion-collapse collapse" aria-labelledby="flush-heading_@i" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body"><b>@Model.Questoes[i].Enunciado</b></div>

                    @for (int j = 0; j < Model.Alternativas.Count(); j++)
                    {
                        @if (Model.Alternativas[j].Id_Questao == Model.Questoes[i].IdQuestao)
                        {
                            <div class="form-check">
                                @Html.RadioButtonFor(model => model.AlternativaEscolhida[i], Model.Alternativas[j].alternativa, new { @Name = Model.Questoes[i].IdQuestao, @name = Model.Questoes[i].IdQuestao, @id = Model.Questoes[i].IdQuestao, @class = "form-check-input" })
                                @Html.LabelFor(model => model.Alternativas[j].alternativa, Model.Alternativas[j].alternativa, new { @name = Model.Questoes[i].IdQuestao, @id = Model.Questoes[i].IdQuestao, @class = "form-check-label" })
                                @Html.HiddenFor(model => model.Alternativas[j].Id_Questao)
                                @Html.HiddenFor(model => model.Alternativas[j].IdAlternativa)
                                @Html.HiddenFor(model => model.Alternativas[j].correta)
                                @Html.HiddenFor(model => model.Alternativas[j].alternativa)
                            </div>

                        }
                    }
                </div>

            </div>
        </div>
    }
    <div class="d-grid">
        <input type="submit" value="Finalizar" class="btn btn-primary" onclick="return confirm('Por favor, verifique se respondeu todas as questões.')" />
    </div>
    


}