@using PoupaAiMVC.Data.Entities
@model PoupaAiMVC.Models.Questionario.AvaliacaoModel
@{
    ViewData["Title"] = "Avaliacao";
    Layout = "~/Views/Shared/Layout.cshtml";

}

<br />
@using (Html.BeginForm("ValidaRespostas", "Questionario", FormMethod.Post, new { @autocomplete = "off" }))
{
    @for (int i = 0; i < Model.Questoes.Count(); i++)
    {
        @Html.HiddenFor(model => model.Questoes[i].IdQuestao)

        <div class="accordion accordion-flush" id="accordionFlush_@i">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading_@i">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse_@i" aria-expanded="false" aria-controls="flush-collapse_@i">
                        @{int contador = i + 1;}
                        Questão @contador
                    </button>
                </h2>
                <div id="flush-collapse_@i" class="accordion-collapse collapse" aria-labelledby="flush-heading_@i" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">@Model.Questoes[i].Enunciado</div>
                    <br />
                    <br />



                    @for (int j = 0; j < Model.Alternativas.Count(); j++)
                    {
                        @if (Model.Alternativas[j].Id_Questao == Model.Questoes[i].IdQuestao)
                        {
                <div class="form-check">
                    @Html.RadioButtonFor(model => model.Alternativas[j].AlternativaEscolhida, Model.Alternativas[j].alternativa, new { @name = Model.Questoes[i].IdQuestao, @id = Model.Questoes[i].IdQuestao, @class = "form-check-input" })

                    @Html.RadioButton(Model.Alternativas[j].AlternativaEscolhida, Model.Alternativas[j].alternativa, new { @name = Model.Questoes[i].IdQuestao })

                    @Html.LabelFor(model => model.Alternativas[j].alternativa, Model.Alternativas[j].alternativa, new { @name = Model.Questoes[i].IdQuestao, @id = Model.Questoes[i].IdQuestao, @class = "form-check-label" })
                    @Html.HiddenFor(model => model.Alternativas[j].Id_Questao)
                    @Html.HiddenFor(model => model.Alternativas[j].IdAlternativa)
                </div>

                        }
                    }
                </div>

            </div>
        </div>
    }
    <div class="d-grid">
        <input type="submit" value="Finalizar" class="btn btn-primary" />
    </div>

}